<p id="notice"><%= notice %></p>
<h2><%= @book.title %></h2>
<hr />

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
