<div class="row">
  <nav class="span12">
    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to 'Book Online', root_path, class: 'brand' %>

        <ul class="nav">
          <li class="divider-vertical"></li>

          <%# Books %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Books</a>
            <ul class="dropdown-menu">
              <li><%= link_to "<i class=\"icon-th-list\"></i>All books".html_safe, books_path %></li>
              <li><%= link_to "<i class=\"icon-plus\"></i> Add".html_safe, new_book_path %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>